.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  z-index: 1;
  height: 30px;
}

.nav__black {
  background-color: #000;
  height: 30px;
  transition: all 0.5s;
  animation-timing-function: ease-in;
}

.nav__logo {
  width: 80px;
  object-fit: contain;
  position: fixed;
  left: 20px;
}

.nav__avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}
